<template>
    <div class="comment">
        <p class="tagline">

        </p>
        <p class="comment-content">
            {{content}}
        </p>
    </div>
</template>


<script>
export default {
    props: ['content'],

    data: function() {
        return {
            content: "Hello"
        }
    }
}
</script>