*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* color: #555; */
    background-color: #f3f3f3;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
}

#navbar {
    width: 100%;
    height: 50px;
    /* background-color: white; */
    border-radius: 0.5;
}

#main {
    display: flex;
    width: 100%;
}

#content {
    flex: auto;
    margin-left: 12px;
}

#sidebar {
    width: 400px;
    margin-right: 20px;
}

#sidebar * {
    width: 100%;
}

.comment {
    border: solid 1px #e1e1e1;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

.tagline {
    color: #888888;
    font-size: 0.8rem;
}
